# PostgreSQL Connection URL (Neon PostgreSQL or Render PostgreSQL)
DATABASE_URL="postgresql://username:password@ep-xyz.region.aws.neon.tech/neondb?sslmode=require"

# Authentication Secret Key
JWT_SECRET="dsa_bina_bakchodi_ke_secret_key_2026"

# Node.js Server Port (Default: 5000)
PORT=5000
